<div class="anchor-static-top-navbar" id="about" data-target="#about">
    <div class="container p-y-3">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h2 class="m-b-3">Über JumpLink</h2>
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="{{ 'assets/images/peace.png' | theme }}" class="img-fluid center-block peace-image" alt="peace">
            </div>
            <div class="col-xs-12 col-md-8">
                {{'Wir sind ein junges motiviertes Unternehmen, durch unser Netzwerk von Selbstständigen und weiteren Unternehmen sind wir in der Lage uns auf unsere Stärken zu konzentrieren und flexibel zu bleiben. Wir sind experimentierfreudig, haben Spaß an unserer Arbeit und stecken voller frischer Ideen.'}}
            </div>
        </div>
    </div>
</div>