<div id="apps">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="m-y-3 text-xs-center">{{'Entwicklung von Apps.'|_}}</h3>
            </div>
        </div>
    </div>
    <div class="cloud" data-type="white_4" style="top: 138px;" data-speed="1"></div>
    <div class="cloud" data-type="white_2" style="top: 10px;" data-speed="2"></div>
    <div class="cloud" data-type="white_1" style="top: 81px;" data-speed="3"></div>
    <div class="cloud" data-type="white_1" style="top: 85px;" data-speed="4"></div>
    <div class="cloud" data-type="white_5" style="top: 91px;" data-speed="5"></div>
    <div class="cloud" data-type="white_4" style="top: -10px;" data-speed="6"></div>
    <div class="cloud" data-type="white_6" style="top: 0;" data-speed="7"></div>
    <div class="svg_apps_col">
        <div class="foreground"></div>
        <div class="foreground_finger"></div>
        <div class="framewrapper center-block">
            <div style="color: #f4696b" class="la-square-jelly-box center-block">
                <div></div>
                <div></div>
            </div>
            <iframe src="/apps/android"></iframe>
        </div>
    </div>
    <div class="description">
        <div class="container">
            <div class="row text-xs-center">
                <div class="col-xs-6">
                    <h2>{{'Plattformunabhängig'|_}}</h2>
                    <p>Wir bauen deine eigene App für alle Geräteplattformen, darunter Android, Apple iOS, Windows Phone, Selfish OS und Ubuntu Touch.</p>
                </div>
                <div class="col-xs-6">
                    <h2>{{'Modernes App-Design'|_}}</h2>
                    <p>Deine App soll sich gut und geschmeidig anfühlen. dezente Animationen, übersichtliches Layout und Anlehnung an die Designsprache der jeweiligen Plattformen sorgen für angenehmes und störungsfreies Bedienen deiner App.</p>
                </div>
            </div>
        </div>
   </div>
</div>