[viewBag]
snippetCode = "contact"
snippetName = "contact"
snippetProperties[headertext][title] = "Header Text"
snippetProperties[headertext][type] = "string"
snippetProperties[headertext][default] = "Kontakt"
snippetProperties[headertext][options][] = ""
==
<div class="bg-gray-lighter" id="contact" data-target="#contact">
    <header class="p-y-3">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <img class="center-block p-b-2" src="{{'assets/images/icons/contact.svg'|theme}}">
                    <h1 class="text-xs-center">{{headertext}}</h1>
                    <div class="m-b-3">
                        {% content 'contact.htm' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-success" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control form-control-warning" id="email" placeholder="E-Mail">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-danger" id="regard" placeholder="Betreff">
                    </div>
                    <fieldset class="form-group">
                        <textarea class="form-control" id="message" rows="6" placeholder="Deine Nachricht an mich"></textarea>
                    </fieldset>
                </div>
            </div>
        </div>
    </header>
</div>