[viewBag]
snippetCode = "contact"
snippetName = "contact"
snippetProperties[headertext][title] = "Header Text"
snippetProperties[headertext][type] = "string"
snippetProperties[headertext][default] = "Kontakt"
snippetProperties[headertext][options][] = ""

[contactForm]
injectBootstrapAssets = 0
injectMainScript = 1
==
<div class="bg-gray-lighter" id="contact" data-target="#contact">
    <header class="p-y-3">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-push-6">
                    <h2 class="text-xs-center">{{headertext}}</h2>
                    <img class="center-block p-b-2" src="{{'assets/images/icons/contact.svg'|theme}}">
                    <div class="m-b-3">
                        {% content 'contact.htm' %}
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-md-pull-6">
                    {% partial 'contactForm/custom.htm' %}
                </div>
            </div>
        </div>
    </header>
</div>