<div id="design" data-target="#design">
    <header class="bg-inverse p-b-3">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    {% partial 'logo_text_inverse.htm' %}
                </div>
                <div class="col-xs-12 col-md-6">
                    <object id="jumplink_mediamor" type="image/svg+xml" class="img-fluid m-y-3" data="{{ 'assets/images/mediamor.svg' | theme }}"></object>
                </div>
                <div class="col-xs-12">
                    <object id="jumplink_mediamor" type="image/svg+xml" class="img-fluid center-block m-y-3" data="{{ 'assets/images/jumplink_mediamor.svg' | theme }}"></object>
                </div>
                <div class="col-xs-12 hidden-md-up">
                    <h3 class="m-t-3 text-xs-center">{{'Leidenschaftlich entwickeln'|_}}</h3>
                    <h3 class="text-xs-center">+</h3>
                    <h3 class="m-b-3 text-xs-center">{{'Gestalten mit'|_}} <span style="color:#bd1a1c">❤</span></h3>
                </div>
                <div class="col-xs-12 hidden-sm-down">
                    <h3 class="text-xs-center">{{'Leidenschaftlich entwickeln'|_}} + {{'Gestalten mit'|_}} <span style="color:#bd1a1c">♥</span></h3>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row text-xs-center m-y-3">
            <div class="col-sm-12 col-md-6">
                <h2>{{'Corporate Identity Design'|_}}</h2>
                <img src="{{ 'assets/images/corporate_identity_design.svg' | theme }}" class="img-fluid m-t-3 center-block m-y-3 corporate-image" alt="Corporate Identity Design">
                <p>{{'Ihr Corporate Design vom Logo bis zum Briefpapier.'|_}}</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <h2>{{'Responsive Design'|_}}</h2>
                <img src="{{ 'assets/images/responsive_design.svg' | theme }}" class="img-fluid center-block m-y-3 responsive-image" alt="Responsive Design">
                <p>{{'Ihr Design ist bei uns auf allen Geräten hübsch.'|_}}</p>
            </div>
        </div>
    </div>
</div>