<div id="ecommerce">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h1 class="m-y-3">{{'Entwicklung von Online-Shops'|_}}</h3>
            </div>
        </div>
    </div>
    <div class="svg-wrapper">
        <object id="street" class="img-fluid" type="image/svg+xml" data="{{ 'assets/images/ecommerce.svg' | theme }}"></object>
    </div>
    <div class="description">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 text-xs-center">
                    <h2>{{'Anbindungen'|_}}</h2>
                    <img src="{{ 'assets/images/ecommerce_connect.svg' | theme }}" class="img-fluid center-block bindings-image m-y-3" alt="bindings">
                    <p>{{'Binde deine Produkte automatisch an eBay, Amazon, Facebook und Apps an, so hast du mehrere potentielle Käuferquellen und brauchst nur den Warenbestand in deinem Shop zu pflegen.'|_}}</p>
                </div>
                <div class="col-xs-12 col-md-6 text-xs-center">
                    <h2>{{'Fitt für den deutschen Markt'|_}}</h2>
                    <img src="{{ 'assets/images/ecommerce_markets.svg' | theme }}" class="img-fluid center-block markets-image m-y-3" alt="markets">
                    <p>{{'Wir bereiten deinen Shop für den deutschen Markt vor, dazu gehören z.B. rechtssicherheit bei Rechtstexten, der Kaufabwicklungen, der Preisdarstellung und Steuerklassen.'|_}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 text-xs-center">
                    <h2>{{'Maßgeschneidert'|_}}</h2>
                    <img src="{{ 'assets/images/ecommerce_customize.svg' | theme }}" class="img-fluid center-block custom-image m-y-3" alt="customize">
                    <p>{{'Ob großer Shop mit vielen idividuellen Funktionen und voller Kontroller oder unkompliziert und immer up to date, wir passen das für dich am besten geeignete System deinen Vorstellungen an.'|_}}</p>
                </div>
                <div class="col-xs-12 col-md-6 text-xs-center ">
                    <h2>{{'ERP'|_}}</h2>
                    <img src="{{ 'assets/images/ecommerce_erp.svg' | theme }}" class="img-fluid center-block erp-image m-y-3" alt="erp">
                    <p>{{'Verbessere deine Verkaufsprozesse, schnelle Abwicklung dank Barcodescannern, automatisiere deine Prozesse mit externen Versandhändlern und behalte deinen Warenbestand im Überblick. Wir helfen dir bei einem gut funktionierendem und aufgeräumtem Lager.'|_}}</p>
                </div>
            </div>
        </div>
    </div>
</div>