<div id="ecommerce">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h1 class="m-y-3">{{'Entwicklung von Online-Shops'|_}}</h3>
            </div>
        </div>
    </div>
    <div class="svg-wrapper">
        <object id="street" class="img-fluid" type="image/svg+xml" data="{{ 'assets/images/ecommerce.svg' | theme }}"></object>
    </div>
    <div class="description">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 text-xs-center">
                    <h2>Anbindungen</h2>
                    <img src="{{ 'assets/images/ecommerce_connect.svg' | theme }}" class="img-fluid center-block" alt="Magento">
                    <p>{{'Binde deine Produkte automatisch an eBay, Amazon, Facebook und Apps an, so hast du mehrere potentielle Käuferquellen und brauchst nur den Warenbestand in deinem Shop zu pflegen.'|_}}</p>
                </div>
                <div class="col-xs-12 col-md-6 text-xs-center">
                    <h2>Fitt für den deutschen Markt</h2>
                    <img src="{{ 'assets/images/ecommerce_markets.svg' | theme }}" class="img-fluid center-block" alt="Shopify">
                    <p>{{'Wir bereiten deinen Shop für den deutschen Markt vor, dazu gehören z.B. rechtssicherheit bei Rechtstexten, der Kaufabwicklungen, der Preisdarstellung und Steuerklassen.'|_}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 text-xs-center">
                    <img src="{{ 'assets/images/magento.svg' | theme }}" class="img-fluid center-block" alt="Magento">
                    <h2>Maßgeschneidert</h2>
                    <p>{{'Ob großer Shop mit vielen idividuellen Funktionen und voller Kontroller oder unkompliziert und immer up to date, wir passen das für sie am besten geeignete System nach ihren Vorstellungen an.'|_}}</p>
                </div>
                <div class="col-xs-12 col-md-6 text-xs-center">
                    <img src="{{ 'assets/images/shopify.svg' | theme }}" class="img-fluid center-block" alt="Shopify">
                    <h2>ERP</h2>
                    <p>{{'Verbessere deine Verkaufsprozesse, schnelle Ablicklung dank Barcodescannern, automatisiere deine Prozesse mit externen Versandhändlern und behalte deinen Warenbestand im Überblick. Wir helfen dir bei einem gut funltionierendem und aufgeräumtem Lager.'|_}}</p>
                </div>
            </div>
        </div>
    </div>
</div>