<div id="imprint" data-target="#imprint">
    <div class="container p-t-3">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h2 class="m-b-3">Impressum</h2>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 p-b-3">
                <img src="{{ 'assets/images/logo.svg' | theme }}" class="imprint-brand img-fluid center-block" alt="JumpLink">
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <dl class="">
                    <dt class="col-xs-4">Anschrift</dt>
                    <dd class="col-xs-8"><address><strong>JumpLink</strong><br>Pascal Garber<br>Kasernenstraße 8<br>27472 Cuxhaven</address></dd>
                </dl>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <dl class="text-truncate">
                    <dt class="col-xs-4">Telefon</dt>
                    <dd class="col-xs-8"><a href="tel:+4915254090189">+49 152 54 09 01 89</a></dd>
                    <dt class="col-xs-4">Fax</dt>
                    <dd class="col-xs-8"><a href="fax:+494721664319">04721­ 664319</a></dd>
                    <dt class="col-xs-4">E-Mail</dt>
                    <dd class="col-xs-8"><a href="mailto:info@jumplink.eu">info@jumplink.eu</a></dd>
                    <dt class="col-xs-4">USt-IdNr.</dt>
                    <dd class="col-xs-8">DE277453808</dd>
                </dl>
            </div>
        </div>
    </div>
</div>