<div id="location" data-target="#location">
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 card card-block route">
        <div class="">
            <h6 class="card-title">{{'Anfahrt'|_}}</h6>
            <div class="card-text">
                <div class="row">
                    <div class="col-xs-8">
                        <address>
                            <strong>JumpLink</strong>
                            <br>Kasernenstraße 8, 27472 Cuxhaven
                        </address>
                    </div>
                    <div class="col-xs-4">
                            <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="{{'Routenplaner'|_}}", target="_blank", href="https://www.google.de/maps/place/JumpLink/@53.8725552,8.6976976,18z/data=!4m15!1m12!4m11!1m3!2m2!1d8.6981214!2d53.8725078!1m6!1m2!1s0x47b4046c8fdcaae5:0x812e1ff4ad919f08!2sJumpLink,+27472,+Cuxhaven,+Kasernenstra%C3%9Fe+8,+27472+Cuxhaven!2m2!1d8.698122!2d53.872515!3m1!1s0x0:0x812e1ff4ad919f08">
                                <img src="{{ 'assets/images/route.svg' | theme }}" alt="{{'Routenplaner'|_}}">
                            </a>
                    </div>
                </div>
            </div>
       </div>
    </div>
    <div id="map"></div>
</div>