[viewBag]
snippetCode = "location"
snippetName = "location"
snippetProperties[nameLine1][title] = "Location name line 1"
snippetProperties[nameLine1][type] = "string"
snippetProperties[nameLine1][default] = "Healthy Teeth"
snippetProperties[nameLine1][options][] = ""
snippetProperties[nameLine2][title] = "Location name line 2"
snippetProperties[nameLine2][type] = "string"
snippetProperties[nameLine2][default] = ""
snippetProperties[nameLine2][options][] = ""
snippetProperties[addressLine1][title] = "Address line 1"
snippetProperties[addressLine1][type] = "string"
snippetProperties[addressLine1][default] = "Landungsbrücke 2"
snippetProperties[addressLine1][options][] = ""
snippetProperties[addressLine2][title] = "Address line 2"
snippetProperties[addressLine2][type] = "string"
snippetProperties[addressLine2][default] = "27498 Helgoland"
snippetProperties[addressLine2][options][] = ""
snippetProperties[mapboxAccessToken][title] = "Mapbox access token"
snippetProperties[mapboxAccessToken][type] = "string"
snippetProperties[mapboxAccessToken][default] = "pk.eyJ1IjoianVtcGxpbmsiLCJhIjoiY2lsODd0MGx0MDAyYXdzbHoxNWRzendxZyJ9.6HrdtEXX7n5DhJMNW8PEWA"
snippetProperties[mapboxAccessToken][options][] = ""
snippetProperties[mapboxId][title] = "Mapbox ID"
snippetProperties[mapboxId][type] = "string"
snippetProperties[mapboxId][default] = "jumplink.p9j2ob03"
snippetProperties[mapboxId][options][] = ""
snippetProperties[maxZoom][title] = "Max zoom"
snippetProperties[maxZoom][type] = "string"
snippetProperties[maxZoom][default] = 18
snippetProperties[maxZoom][options][] = ""
snippetProperties[longitude][title] = "Longitude"
snippetProperties[longitude][type] = "string"
snippetProperties[longitude][default] = 54.1808953
snippetProperties[longitude][options][] = ""
snippetProperties[latitude][title] = "Latitude"
snippetProperties[latitude][type] = "string"
snippetProperties[latitude][default] = 7.8900084
snippetProperties[latitude][options][] = ""
snippetProperties[zoom][title] = "Zoom"
snippetProperties[zoom][type] = "string"
snippetProperties[zoom][default] = 15
snippetProperties[zoom][options][] = ""
snippetProperties[navigationHref][title] = "Navigation URL"
snippetProperties[navigationHref][type] = "string"
snippetProperties[navigationHref][default] = "https://goo.gl/maps/TksjPVL7UG22"
snippetProperties[navigationHref][options][] = ""
snippetProperties[active][title] = "Active"
snippetProperties[active][type] = "checkbox"
snippetProperties[active][default] = "true"
snippetProperties[active][options][] = ""
snippetProperties[title][title] = "Title"
snippetProperties[title][type] = "string"
snippetProperties[title][default] = "Approach"
snippetProperties[title][options][] = ""
==
{% if active %}
    <div id="location" data-target="#location">
        <div class="col-sm-6 col-md-5 col-lg-3 col-xl-3 card card-block route">
            <div class="">
                <h6 class="card-title">{{ title }}</h6>
                <div class="card-text">
                    <div class="row">
                        <div class="col-xs-8 col-md-8 col-lg-8 col-xl-8">
                            <address>
                                <strong>
                                    {{ nameLine1 }}
                                    {% if nameLine2 %}
                                        <br>{{ nameLine2 }}
                                    {% endif %}
                                </strong>
                                {% if addressLine1 %}
                                    <br>{{ addressLine1 }}
                                {% endif %}
                                {% if addressLine2 %}
                                    <br>{{ addressLine2 }}
                                {% endif %}
                            </address>
                        </div>
                        <div class="col-xs-4 col-md-4 col-lg-4 col-xl-4">
                            <a class="btn btn-secondary" id="navigation_link" data-toggle="tooltip" data-placement="top" title="{{ title }}", target="_blank">
                                {% set icon = 'assets/images/icons/' ~ this.theme.color ~ '/route.svg' %}
                                <img src="{{ icon | theme }}" alt="{{ title }}">
                            </a>
                        </div>
                    </div>
                </div>
           </div>
        </div>
        <div id="map"></div>
    </div>
    <script>
        if(typeof(window.theme) === 'undefined') {
            window.theme = {};
        }
        window.theme.locationMapboxAccessToken = "{{ mapboxAccessToken }}";
        window.theme.locationMapboxId = "{{ mapboxId }}";
        window.theme.locationMaxZoom = Number("{{ maxZoom }}");
        window.theme.locationLongitude = Number("{{ longitude }}");
        window.theme.locationLatitude = Number("{{ latitude }}");
        window.theme.locationZoom = Number("{{ zoom }}");
        window.theme.locationLink = "{{ navigationHref }}";
    </script>
    {% put scripts %}
        <script type="text/javascript" src="{{ 'assets/javascript/partials/location.js' |theme }}"></script>
    {% endput %}
{% endif %}