<!-- Nav -->
<nav class="navbar navbar-fixed-top navbar-light bg-white-transparent fg-purple navbar-big" id="main-navbar">
    <button class="navbar-toggler hidden-md-up" type="button">
        &#9776;
    </button>
    <div class="container">
        <a href="/" class="navbar-brand"></a>
        <ul class="nav navbar-nav pull-xs-right hidden-sm-down">
            <li class="nav-item"><a href="{% if this.page.id != 'home' %}{{'home'|page}}{% endif %}#offer" class="nav-link">Angebot</a></li>
            <li class="nav-item"><a href="{% if this.page.id != 'home' %}{{'home'|page}}{% endif %}#services" class="nav-link">Leistungen</a></li>
			<li class="nav-item"><a href="{% if this.page.id != 'home' %}{{'home'|page}}{% endif %}#contact" class="nav-link">Kontakt</a></li>
        </ul>
    </div>
</nav>

<!-- http://dcdeiv.github.io/simpler-sidebar/ -->
<div id="sidebar">
    <div id="sidebar-wrapper" class="sidebar-wrapper bg-white-transparent fg-purple">
        <div class="list-group">
            <a href="{% if this.page.id != 'home' %}{{'home'|page}}{% endif %}#offer" class="list-group-item">Angebot}</a>
			<a href="{% if this.page.id != 'home' %}{{'home'|page}}{% endif %}#services" class="list-group-item">Leistungen</a>
            <a href="{% if this.page.id != 'home' %}{{'home'|page}}{% endif %}#contact" class="list-group-item">Kontakt</a>
        </div>
    </div>
</div>
