==
<div class="anchor-static-top-navbar" id="offer" data-target="#offer">
    <div class="container p-t-3">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h2 class="m-b-3">Mein Angebot</h2>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="icon-circle">
                    <i class="fa fa-ambulance"></i>
                </div>
                
                {% content 'mobile.htm' %}
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="icon-circle">
                    <i class="fa fa-user-md"></i>
                </div>
                {% content 'medical_office.htm' %}
            </div>
        </div>
    </div>
</div>