==
<div class="anchor-static-top-navbar" id="services" data-target="#services">
    <div class="container">
        <div class="row p-t-3">
            <div class="col-xs-12 text-xs-center">
                <h2 class="m-b-1">{% content 'services/services_title.txt' %}</h2>
            </div>
            <div class="col-xs-12 col-md-6 p-t-2">
				<div class="icon-circle">
                	<i class="fa fa-question" aria-hidden="true"></i>
				</div>
                <h3 class="text-xs-center">{% content 'services/block1_title.txt' %}</h3>
                {% content 'services/block1.htm' %}
            </div>
            <div class="col-xs-12 col-md-6 p-t-2">
				<div class="icon-circle">
                	<i class="fa fa-question" aria-hidden="true"></i>
				</div>
                <h3 class="text-xs-center">{% content 'services/block2_title.txt' %}</h3>
                {% content 'services/block2.htm' %}
            </div>
        </div>
        <div class="row p-b-3">
            <div class="col-xs-12 col-md-6 p-t-2">
				<div class="icon-circle">
                	<i class="fa fa-question" aria-hidden="true"></i>
				</div>
                <h3 class="text-xs-center">{% content 'services/block3_title.txt' %}</h3>
                {% content 'services/block3.htm' %}
            </div>
            <div class="col-xs-12 col-md-6 p-t-2">
				<div class="icon-circle">
                	<i class="fa fa-question" aria-hidden="true"></i>
				</div>
                <h3 class="text-xs-center">{% content 'services/block4_title.txt' %}</h3>
                {% content 'services/block4.htm' %}
            </div>
        </div>
    </div>
</div>
