[viewBag]
==
{% if slideshow and slideshow['slides'] %}
    <div id="{{id}}" class="carousel slide" data-ride="carousel" data-interval='3500'>
        <div class="carousel-inner" role="listbox">
            {% for i, slide in slideshow['slides'] %}
                {% if slide.image.path %}
                    <div class='carousel-item{% if loop.first %} active{% endif %}'>
                        {% if slide.link %}
                            <a class="carousel-image-background" style="background-image: url('{{ slide.image.path }}');" alt='{{ slide.image.title }}' href='{{ slide.link }}' target='_blank'></a>
                        {% else %}
                            <div class="carousel-image-background" style="background-image: url('{{ slide.image.path }}');" alt='{{ slide.image.title }}'></div>
                        {% endif %}
                        {% if slide.title or slide.description or slide.link %}
                            <div class="carousel-caption clearfix white-caption">
                                {% if slide.title %}<h4 class='carousel-caption-title'>{{ slide.title }}</h4>{% endif %}
                                {% if slide.description %}<p>{{ slide.description|raw }}</p>{% endif %}
                                {% if slide.link %}<a class='carousel-caption-link' href='{{ slide.link }}' target='_blank'>Learn more</a>{% endif %}
                            </div>
                         {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}