<div id="web">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h1 class="m-y-3">{{'Entwicklung von Webseiten'|_}}</h3>
            </div>
        </div>
    </div>
    <div class="svg-wrapper">
        <object id="webdevelopment" class="img-fluid" type="image/svg+xml" data="{{ 'assets/images/webdevelopment.svg' | theme }}"></object>
    </div>
    <div class="description">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 text-xs-center">
                    <h2>{{'Einfaches Bearbeiten'|_}}</h2>
                    <img src="{{ 'assets/images/content.gif' | theme }}" class="img-fluid center-block content-image m-y-3" alt="bindings">
                    <p>{{'Bearbeite Texte direkt auf deiner Webseite, klicke einfach die Textstelle an die du bearbeiten willst und leg los, einfacher geht es nicht. Zusätzlich kannst du deine Inhalte auch im Administrations-Interface bearbeiten.'|_}}</p>
                </div>
                <div class="col-xs-12 col-md-6 text-xs-center">
                    <h2>{{'Dateimanager'|_}}</h2>
                    <img src="{{ 'assets/images/file-management.png' | theme }}" class="img-fluid center-block files-image m-y-3" alt="markets">
                    <p>{{'Verwallte deine Bilder, Videos und andere Dateien mit einem elegant in deine Webseite integriertem Dateimanager. Du kannst sogar Bilder direkt skalieren. Der Dateimanager ist einfach zu benutzen und erfordert wenig Einarbeitung.'|_}}</p>
                </div>
            </div>
        </div>
    </div>
</div>