#sidebar {
    display: none;
    .sidebar-wrapper {
        top: $navbar-height;
        position: relative;
        height: 100%;
        overflow: auto;
        .list-group-item {
            border: none;
            border-radius: 0;
        }
        &.fg-primary {
            .list-group-item {
                @extend .fg-primary;
            }
        }
    }
}

    