@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);

$font-family-sans-serif:    "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

@import "../vendor/bootstrap/scss/bootstrap.scss";

.navbar-brand {
  min-width: 40px;
  // font-family: "Ubuntu", $font-family-sans-serif; 
  background-image: url(../images/logo_inverse.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 100%;
  padding-left: 50px;
}