description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ this.theme.site_name }} - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="Pascal Garber">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% styles %}
        <link href="{{ [
            'assets/css/theme.css',
        ]|theme }}" rel="stylesheet">
    </head>
    <body id="{{ str_studly(this.page.title) }}" data-spy="scroll">
        
        {# Content #}
        <section id="layout-content">
            {% page %}
        </section>

        {# Theme variables #}
        <script>
            window.theme = {
                siteName: "{{ this.theme.site_name }}",
                companyName: "{{ this.theme.company_name }}",
                phoneNumber: "{{ this.theme.phone_number }}",
                emailAddress: "{{ this.theme.email_address }}",
                locationEnabled: "{{ this.theme.location_enabled }}",
                locationName: "{{ this.theme.location_name }}",
                locationAddressLine1: "{{ this.theme.location_address_line_1 }}",
                locationAddressLine2: "{{ this.theme.location_address_line_2 }}",
                locationMapboxAccessToken: "{{ this.theme.location_mapbox_accessToken }}",
                locationMapboxId: "{{ this.theme.location_mapbox_id }}",
                locationMaxZoom: Number("{{ this.theme.location_max_zoom }}"),
                locationLongitude: Number("{{ this.theme.location_longitude }}"),
                locationLatitude: Number("{{ this.theme.location_latitude }}"),
                locationZoom: Number("{{ this.theme.location_zoom }}"),
                locationLink: "{{ this.theme.location_navigation_link }}",
            };
        </script>

        {# Scripts #}
        <script src="{{ [
            'assets/vendor/within-viewport/withinviewport.js',
            'assets/vendor/jquery/dist/jquery.js',
            'assets/vendor/within-viewport/jquery.withinviewport.js',
            'assets/vendor/svg/jquery.svg.js',
            'assets/vendor/jquery-ui/jquery-ui.js',
            'assets/vendor/tether/dist/js/tether.js',
            'assets/vendor/bootstrap/dist/js/bootstrap.js',
            'assets/vendor/vivus/dist/vivus.js',
            'assets/vendor/Snap.svg/dist/snap.svg.js',
            'assets/vendor/simpler-sidebar/dist/jquery.simpler-sidebar.js',
            'assets/vendor/Stickyfill/dist/stickyfill.js',
            'assets/vendor/bootstrap-validator/dist/validator.js',
            'assets/vendor/leaflet/dist/leaflet.js',
            'assets/vendor/letteringjs/jquery.lettering.js',
            'assets/vendor/textillate/jquery.textillate.js',
            'assets/vendor/vivus/dist/vivus.js',
            
            'assets/javascript/app.js',
        ]|theme }}"></script>
        {% framework extras %}
        {# More theme variables #}
        <script>
            L.Icon.Default.imagePath = "/themes/{{this.theme.dirname}}/assets/vendor/leaflet/dist/images/";
        </script>
        {% scripts %}

    </body>
</html>